.rg-header-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(40, 40, 40)!important;
  background-opacity: 1!important;
}

.vscode-light .rg-header-cell {
  background-color: rgb(245 245 244)!important;
}

.rg-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rg-cell input {
  text-align: center;
}

.reactgrid-content .rg-pane-shadow.shadow-top-left-corner {
  box-shadow: none;
}

.rg-pane-shadow {
  box-shadow: none !important;
}

.reactgrid-content .rg-pane.rg-pane-top, .reactgrid-content .rg-pane.rg-pane-bottom, .reactgrid-content .rg-pane.rg-pane-left, .reactgrid-content .rg-pane.rg-pane-right {
  background-color: unset;
}

.reactgrid-content .rg-context-menu .rg-context-menu-option {
  padding: 3px 10px;
  font-size: 0.7rem;
}

.reactgrid-content .rg-pane .rg-cell {
  border-color: #555;
}