.rg-columnHeader-cell {
  background-color: var(--darker-bg-color);
  background-opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rg-columnHeader-celleditor input {
  text-align: center;
  background-color: var(--bg-color);
}

.rg-celleditor {
  background-color: var(--bg-color);
}

.rg-celleditor input {
  text-align: center;
}

.rg-celleditor textarea {
  width: 120%;
  min-width: 100px;
  background-color: var(--bg-color);
  resize: none;
  height: 120px;
  padding: 0.25rem;
  border: 1px solid var(--border-color);
  margin-right: -2.5rem;
}

.reactgrid-content .rg-context-menu {
  background-color: var(--darker-bg-color);
  color: var(--fg-color);
  border: 1px solid var(--border-color);
  /* makes the menu invisible while being repositioned: */
  visibility: var(--rg-context-menu-visibility, visible);
}

.reactgrid-content .rg-context-menu .rg-context-menu-option:hover {
  background-color: var(--bg-color);
  color: var(--fg-color);
}